.fronteira{
    /* border: 1px solid black; */
    /* border-width: 1px;
    border-style: solid;
    border-color: darkmagenta; */

    /* margin: 20px 40px; */

    /* margin: 10px 20px 30px 40px; */

    /* margin-top: 0px;
    margin-bottom: 0px; */

    /* padding: 5px 50px; */

    /* padding-top: 20px;
    padding-bottom: 20px; */

}
.estilo-paragrafo{
    /* color:red; */
    padding: 20px;

    border-color: blue;
    border-width: 5px;
    border-style: solid;

    /* background: red; */
    /* color: white; */
    color: rgba(255,0,0,0.5)

}